@{
  Layout = "_Layout";
}
<h3>Add A New Specialty</h3>

 <form action="/specialties" method="post">
            <div class="col col-md-3">
                <label for="specialtyName">Specialty Name:</label>
                <input class="form-control" id="specialtyName" name="specialtyName" type="text" required><br>
            </div>  
    <br>
    <button class="btn btn-primary btn-lg" type="submit">Add</button>       
</form>
