@{
  Layout = "_Layout";
}
<h1>Hello and Welcome to Daniel's Hair Extravaganza!</h1>

<p>At Daniel's, we offer the Opportunity for our guests to experience
   not just a HairCut, but a personal Experience with our Many Stylists.
   You will need to provide our Customers with professional and customized care. 
</p>

<h3> Click <a href="/stylists">here</a> to see and update our current list of Stylists!</h3>
<h3> Click <a href="/clients">here</a> to see all of our Clients!</h3>
<h3> Click <a href="/specialties">here</a> to see all of our Specialties!</h3>