@{
  Layout = "_Layout";
}

<h2>Current List of Stylists</h2>
<h3>Click on Stylists below to see Clients Options </h3>
<ul>
@if(@Model.Count == 0)
{
    <h4>Oh No! You have no Stylists!</h4>
    <h4>Click <a href="/stylists/new"> HERE </a> to add some now.</h4>
}
else
{
@foreach(var stylist in Model)
{
  <li><a href="/stylist/show/@stylist.GetId()">@stylist.GetName()</a></li>
}

<h3>Click <a href="/stylists/new"> here </a> to add a new stylist. </h3>
<h3>Click <a href="/stylists/removeall"> here </a> to remove all stylists. </h3>
}
</ul>

