
<h2>Stylists</h2>
<h3>Click on Stylists below to see Clients options </h3>
<ul>
@if(@Model.Count == 0)
{
    <h4>Oh No! You have no Stylists!</h4>
    <h4>Click <a href="/stylists/new"> HERE </a> to add some now.</h4>
    <h4>Click <a href="/">HERE</a> to return to main page.</h4>
}
else
{
@foreach(var stylist in Model)
{
  <li><a href="/stylist/show/@stylist.GetId()">@stylist.GetName()</a></li>

<h4>Click <a href="/stylist/new"> here </a> to add a new stylist. </h4>
<h3><a href="/">Back to Home page</a></h3>
}

}
</ul>

